/* 
font-family: 'Merriweather', serif;
font-family: 'Tourney', cursive;
font-family: 'Zen Tokyo Zoo', cursive; 
*/

* {
    margin: 0;
}

body {
    font-family: 'Merriweather', serif;
}

.name {
    color: orange;
}

.cover {
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
    margin-bottom: 80px;
}

h1 {
    font-size: 50px;
}

h3 {
    font-family: 'Zen Tokyo Zoo', cursive;
}
p{
    margin-bottom: 20px
}

.cover-text {
    width: 50%;
    padding: 5%;
}

.cover-pic {
    width: 50%;
}

.cover-pic img {
    width: 70%;
}

.button {
    color: white;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    border-radius: 5px;
}

/* Cover1 */

.cover1 {
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
}

.cover1 img{
    padding-left: 50px;
}